/* =========================
   HERO SECTION
========================= */

.hero {
  max-width: 1250px;
  width: 95%;

  margin: 35px auto;
  padding: 60px 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 40px;

  background: linear-gradient(135deg, #f0e8e1, #f5ded1);

  border-radius: 30px;

  overflow: hidden;
}

/* =========================
   LEFT CONTENT
========================= */

.hero-content {
  flex: 0 0 40%;
}

.hero-badge {
  display: inline-block;

  background: #ff5722;

  color: white;

  padding: 10px 20px;

  border-radius: 50px;

  font-weight: 600;

  margin-bottom: 22px;

  font-size: 15px;
}

.hero-content h1 {
  font-size: 30px;

  line-height: 0.80;

  color: #222;

  font-weight: 800;

  margin-bottom: 22px;
}

.hero-content p {
  max-width: 500px;

  font-size: 18px;

  color: black !important;

  line-height: 1.8;

  margin-bottom: 35px;
}

.hero-btn {
  padding: 16px 34px;

  border: none;

  border-radius: 50px;

  background: #ff5722;

  color: white;

  font-size: 17px;

  font-weight: 600;

  cursor: pointer;

  transition: .3s;
}

.hero-btn:hover {
  background: #e64a19;

  transform: translateY(-3px);
}

/* =========================
   RIGHT IMAGE
========================= */

.hero-image {
  flex: 0 0 80%;

  display: flex;

  justify-content: flex-end;
   transform:translateX(70px);

}

.hero-image img {
  width: 100%;

  max-width: 520px;

  aspect-ratio: 1;

  object-fit: cover;

  border-radius: 50%;

  margin-right: -100px;

  box-shadow: 0 25px 60px rgba(0, 0, 0, .18);

  transition: .35s;
}

.hero-image img:hover {
  transform: scale(1.04);
}

/* =========================
   TABLET
========================= */

@media (max-width: 1024px) {

  .hero {
    padding: 50px 40px;
    gap: 30px;
  }

  .hero-content h1 {
    font-size: 30px;
  }

  .hero-image img {
    max-width: 520px;
    margin-right: -60;
  }

}

/* =========================
   MOBILE
========================= */

@media (max-width:768px) {

  .hero {

    flex-direction: column;

    text-align: center;

    padding: 40px 25px;

    gap: 35px;
  }

  .hero-content,
  .hero-image {
    flex: 1;
  }

  .hero-image {
    order: -1;
    justify-content: center;
  }

  .hero-image img {
    max-width: 300px;
    margin-right: 0;
  }

  .hero-content h1 {
    font-size: 30px;
  }



}